html,
body {
    height:100%;
    font-family: 'Alegreya Sans', sans-serif;
}

.btn {
    transition: all 0.3s ease-in-out;
}
p{
  width:40px;
}

@media(max-width:930px) {
    #caro img {
        width: 100%;
    }
    #footer {
        text-align:center;
    }
}

.navbar {
  background-color:rgb(87, 165, 149) !important;
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar .nav .nav-item .nav-link {
  color: #fff;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #d1d1d1;
}

.navbar-toggler {
    color: white;
}


/*FOOTER*/

#footer {
    padding:2rem 0;
    background-color:rgb(146, 223, 217);
    color:gray;
    margin-bottom: 0;
}

#footer a {
    color:gray;
}

#footer .fa {
    font-size: 1em;
}

#footer p {
    font-size: 1em;
}

#footer img {
    margin: 0;
}

#fafooter .fa {
    padding:0 5px;
    font-size:1.5em;
    color: #003366;
    border:1px solid gray;
    width:60px;
    height:60px;
    border-radius:30%;
    text-align:center;
    padding:30% 0;
    margin-top:10px;
    transition:all 0.4s ease-in-out;
}

#footer .fa-facebook:hover {
    color: #3B5998;
}

#footer .fa-twitter:hover {
    color: #1DA1F2;
}

#footer .fa-instagram:hover {
    color: #000008;
}

#footer .fa-pinterest-p:hover {
    color: #BD081C;
}

#footer .fa-google-plus:hover {
    color: #d34836;
}

#footer .fa-rss:hover {
    color: #ff6600;
}


/* SEARCH */

#search {

    height: 200px;

    padding:5rem 0;
}

/* H# */

h3 {
    color: #57A595;
    font-size: 2em;

}

/* DRUG IMAGE DIV */

#drugdisplay {
    padding-top: 0;
    padding-bottom: 40px;
}

#drugname {

    background-image: url(../img/drugnamenew.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#drugname h2 {

    color: white;
    font-size: 2em;
    text-emphasis-color: dimgray;
    text-align: center;
    text-decoration-style: solid;
    padding-top: 150px;
    padding-bottom: 150px;
}

#drugimage img {

    border-radius: 5%;
}


#drugheading {

    padding-bottom: 3rem;
}
